.form{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 0.5rem;

    background-color: rgba(0, 251, 255, 0.2);

    height: 100%;
    width: 30%;

    
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    text-align: center;
    position: relative;
    align-content: center;
    left: 12.5%;
    bottom: 7%;
}
.background1{ 
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 8rem;
  position: relative; 
}

.alertName{
    color: crimson;
}

.alertHp{
    color: crimson;
}

.alertDefense{
    color: crimson;
}

.alertAttack{
    color: crimson
}

.alertSpeed{
    color: crimson;
}

.alertHeight{
    color: crimson;
}

.alerWeight{
    color: crimson;
}
